<% provide(:title, "Transactions") %>

<div class='category-transactions'>
<% if @category.icon.attached? %>
  <img class='icon-size' src="<%= url_for(@category.icon) %>">
<% end %>
<%= @category.name %>
<div class='total'>Total: <%= @category.total %>$</div>
</div>

<div>
  <% @category_payments.each do |payment| %>
    <%= render payment.payment %>
  <% end %>
</div>

<button class='add-category btn'>
  <div class='new-category btn'>
  <%= link_to "Add a new Transaction", "/categories/#{@category.id}/payments/new" %>
  <div>
</button>