<% provide(:title, "New Transaction") %>
<%= form_with url: category_payments_path, method: :post do |f| %>

  <div class='form-category'>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Name', required: true %>
    <%= f.number_field :amount, autocomplete: "amount", placeholder: 'Amount', required: true %>
    <%= f.select :categories, @categories.map { |category| [category.name, category.id] }, required: true %>
    <%= f.submit "Save", class: 'btn save-category' %>
  <% end %>
</div>