<% provide(:title, "Categories") %>

<h1>Categories</h1>
<div>
  <ul>
    <li><%= @current_user.fullname %></li>
    <%= @categories.each do |category| %>
    <li><%= category.icon %><%= category.name %></li>
    <% end %>
  </ul>
  <%= link_to "Add new Category", new_category_path%>
</div>
<div>
